*.sudoku filter=lfs diff=lfs merge=lfs -text
Puzzles/Medium.zip filter=lfs diff=lfs merge=lfs -text
Puzzles/Minimum[[:space:]]Clues.zip filter=lfs diff=lfs merge=lfs -text
Puzzles/Top[[:space:]]50K[[:space:]]Toughest.zip filter=lfs diff=lfs merge=lfs -text
Puzzles/2[[:space:]]Million.zip filter=lfs diff=lfs merge=lfs -text
Puzzles/Benchmarks.zip filter=lfs diff=lfs merge=lfs -text
Puzzles/Generated[[:space:]]2m[[:space:]]x[[:space:]]25.zip filter=lfs diff=lfs merge=lfs -text
Puzzles/Generated[[:space:]]2m[[:space:]]x[[:space:]]50.zip filter=lfs diff=lfs merge=lfs -text
Puzzles/Generated[[:space:]]2m[[:space:]]x[[:space:]]40.zip filter=lfs diff=lfs merge=lfs -text
Puzzles/Easy.zip filter=lfs diff=lfs merge=lfs -text
Puzzles/Euler.zip filter=lfs diff=lfs merge=lfs -text
Puzzles/Generated[[:space:]]2m[[:space:]]x[[:space:]]37.zip filter=lfs diff=lfs merge=lfs -text
Puzzles/Hard.zip filter=lfs diff=lfs merge=lfs -text
Puzzles/Diabolical.zip filter=lfs diff=lfs merge=lfs -text
Puzzles/Generated[[:space:]]2m[[:space:]]x[[:space:]]30.zip filter=lfs diff=lfs merge=lfs -text
Puzzles/World[[:space:]]Hardest.txt filter=lfs diff=lfs merge=lfs -text
Puzzles/18[[:space:]]Clues.txt filter=lfs diff=lfs merge=lfs -text
Puzzles/19[[:space:]]Clues.txt filter=lfs diff=lfs merge=lfs -text
Puzzles/20[[:space:]]Clues.txt filter=lfs diff=lfs merge=lfs -text
Puzzles/21[[:space:]]Clues.txt filter=lfs diff=lfs merge=lfs -text
Puzzles/22[[:space:]]Clues.txt filter=lfs diff=lfs merge=lfs -text
Puzzles/23[[:space:]]Clues.txt filter=lfs diff=lfs merge=lfs -text
Puzzles/24[[:space:]]Clues.txt filter=lfs diff=lfs merge=lfs -text
